@charset "utf-8";
/* CSS Document */


body{
	font-family: PlayfairDisplay;
	font-size: 15px;
	font-weight: 400;
	font-style: normal;
	color: antiquewhite;
	background-color: cornflowerblue;
	
		
}